# Configuration
dir_temp: /path/to/temp
dependency_service: pixi

# Resource locations
dir_db: /path/to/camel/dbs
dir_testdata: /path/to/camel/testdata/

# Logging
dir_error_logs: /logs/camel/camel_logs
