# config file for camel generalities.
logging:
  keep_logs: false
  dir_camel_logs: /logs/camel/camel_logs
  dir_error_logs: /logs/camel/error_logs
  dir_snakemake_configs: /logs/camel/pipeline_configs

# Parameters are retrieved from Yaml files with the same name as the tool (can be omitted from config).
tool_service: yaml

testing:
  testfiles_dir: /testdata/camel/

temp_dir: /scratch/temp

ref_dir: /db/refgenomes/