beautifulsoup4>=4.9.0
biopython>=1.76
bs4>=0.0.1
Cython>=0.29.6
datrie>=0.8.2
humanize>=2.3.0
numpy>=1.18.0
pandas>=1.0.3
Pillow>=7.0.0
psycopg2-binary>=2.5.8
pydotplus>=2.0.2
PyVCF>=0.6.8
PyYAML>=5.3.1
pytest>=5.4.0
pytest-xdist>=1.31.0
requests>=2.23.0
scipy>=1.4.0
screed>=1.0.4
snakemake>=5.15.0
yattag>=1.13.0