Pillow==9.5.0
PuLP==2.7.0
biopython
bs4
camel-core
click
cyvcf2
furl
humanize
matplotlib==3.10.1
openpyxl
pandas
plotnine
pydantic
pydotplus
pysam
pytest
scipy
snakemake
setuptools
typing-extensions
yattag