body {
    max-width: 960px;
    min-width: 640px;
}

div.header {
    background-color: #eaeaea;
    border: 1px solid #000000;
    margin:0;
    padding: 0.5em;
    font-size: 200%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    border-radius: 4px;
}

div.sub_header {
    background-color: #eaeaea;
    border: 1px solid #000000;
    padding: 0.25em 0.25em 0.25em 0.8em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    border-radius: 4px;
}

div.report_section {
    border-bottom:1px solid #dfdfdf;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0.3em 1em 1em;
}

#header_logo {
    vertical-align: middle;
    clear: right;
    display: inline-block;
    margin-right: 16px;
}

table.information tr > td:first-child {
    font-weight: bold;
}

.alert-box {
    color:#555;
    border-radius:10px;
    font-family:Tahoma,Geneva,Arial,sans-serif;font-size:11px;
    padding:10px 10px 10px 36px;
    margin:10px;
}

.alert-box span {
    font-weight:bold;
    text-transform:uppercase;
}

.error {
    background:#ffecec;
    border:1px solid #f5aca6;
}

.warning {
    background:#fff8c4;
    border:1px solid #f2c779;
}

.not-available {
    color:red;
    size:2
}

/* Background colors */
.green {
    background-color: #6EBE50;
}

.lightgreen {
    background-color: #BEDCBE;
}
.red {
    background-color: #ff8080;
}

.grey {
    background-color: #bfbfbf;
}

.yellow {
    background-color: #f4d142;
}

.orange {
    background-color: #ffa839;
}


/* Global table settings */
table {
    border-collapse: collapse;
}

td {
    padding: 4px 4px;
}

th {
    padding: 4px 4px;
}

/* Table for displaying data */
table.data {
    border: 1px solid black;
}

table.data td {
    border: 1px solid black;
    min-width: 45px;
    text-align: center;
}

table.data th {
    border: 1px solid black;
    font-weight: bold;
    background-color: #f2f2f2;
}
